<!doctype = html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	<title> UPLOAD PAGE </title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<style>
		.jumbotron {
			background-color: white;
			text-align: center;
			height: 50%;
		}
		.tableArea {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}
		.table {
			text-align: center;
			width: 100% 
		}
		.tableInput {
			font-size: 25px;
		}
		#alertsArea {
			margin: auto;
			border-style: solid;
			border-width: 3px; 
			border-radius: 5px;
			padding: 5px;
			width: 25% 
		}
		tr:hover {
			background-color: #f9f5f4;
		}
	</style>
</head>
<body class="dropzone">
	<div class="jumbotron">
		<h1 class="display-3"> Upload your files</h1>
		<p class="lead"> Drag and Drop onto this page! </p>
		<div id="alertsArea">
			<div id="message"></div>
			<div id="time"></div>
		</div>
		<div id="tableArea" class="tableArea"></div>
	</div>

	<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
	<script src="{{url_for('static',filename='js/app.js')}}"></script>
	<script src="{{url_for('static',filename='js/handlebars-v4.0.10.js')}}"></script>
	<!-- Note on raw: USed to avoid conflicting with Handlebars syntax which is similar to jinja2 syntax-->
	<!-- The script below contains a template compiled by Handlebars. Template used to generate a table of list of files. -->
	{% raw %}	
	<script type="text/x-handlebars-template" id="tableTemplate">
    		<table class="table table-condensed">
        		{{#each filenames}}
            			<tr class="tableInput">
                			<td>{{this}}</td>
            			</tr>
        		{{/each}}
    		</table>
	</script>  	
	<!-- This script contains a template compiled by Handlebars. Template used to insert time into html. -->
	<script type="text/x-handlebars-template" id="timeTemplate">
        	<p> Time of previous drop: {{time}} </p>
	</script>  	
	{% endraw %} 
</body>
</html>
